.result {
    height: 60px;
    background-color: rgb(67,52,55);
    width: 100%;
}

.result p {
    font-size: 35px;
    margin: 5px;
    font-weight: bold;
    color: white;
    text-align: right;
    padding: 11px
}

.calculator-body {
    max-width: 250px;
    margin: auto;
    padding-top: 50px;
}

button {
    width: 25%;
    height: 60px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    margin: 0;
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    cursor: grab;
    font-size: 30px;
    background-color: white;
    border-width: thin;
}

.clear {
    width: 50%;
}

.text-red {
    background-color: #D22B4F;
    font-weight: bold;
    color: white;
}
